<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- தேவையான பெர்மிஷன்கள் -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:roundIcon="@drawable/app_logo"
        android:label="Deepa Maths"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <!-- 1. Splash Activity (முதல் ஸ்கிரீன் - Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- 3. Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- 4. WebView Activity (வெப்சைட் திறக்க) -->
        <activity
            android:name=".WebViewActivity"
            android:exported="true" />

        <!-- 5. AI Teacher Activity -->
        <activity
            android:name=".AITeacherActivity"
            android:exported="true" />

        <!-- 6. Math Pad Activity -->
        <activity
            android:name=".MathPadActivity"
            android:exported="true" />
        <activity android:name=".AlgebraActivity" android:exported="false" />
        <activity android:name=".TrigonometryActivity" android:exported="false" />
        <activity android:name=".CalculusActivity" android:exported="false" />
        <activity android:name=".CoordinateActivity" android:exported="false" />
        <activity android:name=".VideoTutorialsActivity" android:exported="false" />
        <activity android:name=".DashboardActivity" />

    </application>
</manifest>
